*~
!tags/
*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
/bower_components/
/log
/node_modules/
/tmp
/vendor
db/*.sqlite3
log/*.log
rerun.txt
tags
tmp/**/*
749w5cto.py
Applications
Calibre Library
Desktop
Documents
Downloads
Dropbox
Erving Goffman The Presentation of Self in Everyday Life 1956.pdf
GitBook
Library
Movies
Music
Pictures
Public
PycharmProjects
Sites
Sync
Untitled.ipynb
VirtualBox VMs
__handlers__
algs4
anaconda3
another_v2ray.json
back
bash-knowledge
bitbarPlugins
config_mine.json
go
history.sqlite
homebrew
java-latest-released
key_file_zilla.ppk
medical-1904-1.png
node_modules
not-backup
octave-workspace
onlys
package-lock.json
perl5
portable_app
python_first.pptx
router_config.json
router_config.pb
savetest.tar.gz
scrapy_env.exp
server_config_v2ray
tceetree.out.png
test_cookie.json
tf-yolo.txt
tmp.gitconfig
tmp_config
unity
v2ray_pay
v2ray_server.json
v2rayx_backup_08-03-2020 07:09.json
word2vec.pptx
work_out.m3u
works
works.gephi
